<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('../partials/stylesheet')%>
    
  </head>
  <body>
  
  <div class="site-wrap">
    <%- include('../partials/header')%>

    <h2>Error!</h2>
    <%= error %>

    <%- include('../partials/footer') %>
  
  </div>

  <%- include('../partials/javascript') %>
    
  </body>
</html>