<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('../partials/stylesheet')%>
    
    <style>

      /* set the size and position of the icon */
      .icon-plus {
        position: relative;
        top:50%;
        left:50%;
        width: 5vmin;
        height: 5vmin;
        transform: translate(-50%, -50%);
      }
      /* vertical line */
      .icon-plus:before {
        content:"";
        position: absolute;
        top: 0;
        left: 37.5%;
        width: 25%;
        height: 100%;
        background-color: rgb(75, 71, 71);
      }
      /* horizontal line */
      .icon-plus:after {
        content:"";
        position: absolute;
        top:37.5%;
        left: 0;
        width: 100%;
        height: 25%;
        background-color: rgb(75, 71, 71);
      }
      .sell-image-box {
        min-height: 300px;
        max-height: 310px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 20px;
        overflow:hidden;    
          
      }
      .sell-image-box img{
        height:100%;
        width:100%;
        display: block;
        object-fit: cover;
      }

      .remove-item {
        display: none;
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 10em;
        padding: 2px 6px 3px;
        text-decoration: none;
        font: 700 21px/20px sans-serif;
        background: #555;
        border: 3px solid #fff;
        color: #FFF;
        box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
          text-shadow: 0 1px 2px rgba(0,0,0,0.5);
          -webkit-transition: background 0.5s;
          transition: background 0.5s;
        }
        .remove-item:hover {
        background: #E54E4E;
          padding: 3px 7px 5px;
          top: -11px;
        right: -11px;
        }
        .remove-item:active {
        background: #E54E4E;
          top: -10px;
        right: -11px;
        }
    </style>

  </head>
  <body>
  
  <div class="site-wrap">
    <%- include('../partials/header-shop')%>

    <div class="site-section">
        <div class="container">
          <div class='p-3 p-lg-5 border'>
            <div class="row d-flex justify-content-center">
              <form id='deleteItem' action=/item/delete/ method='post'></form>
                <div class="col-6 col-sm-6 col-md-4 col-lg-2 mb-4 mb-lg-0">
                  <a href="/item/sell">
                    <div style="width:233px; height:208px; border-style: groove; border-color: #555;">
                      <figure class="image">
                        <div class="icon icon-plus"></div>
                        <div style="justify-content: center; text-align: center;">Create listing</div>
                      </figure>
                    </div>
                    
                  </a>
                </div>
                
                <% items.forEach((item)=>{ %>
                <div class="col-6 col-sm-6 col-md-4 col-lg-2 mb-4 mb-lg-0">
                  <button class="remove-item" onclick="deleteItem(`<%= item._id%>`)" style="display: inline;">&#215;</button>
                  <a href="/item/edit/<%= item._id%>">
                    <div style="width:233px; height:208px">
                      <figure class="image">
                        <img src="<%= item.coverImg %>" alt="" class="img-fluid" style="border-radius: 5px;">
                      </figure>
                    </div>
                  </a>
                </div>
                <% }) %>
              
              </div>
              </form>
              <!-- <div class="row d-flex justify-content-center">
                <div class="col-6 col-sm-6 col-md-4 col-lg-2 mb-4 mb-lg-0">
                  <a href="#">
                    <div style="width:233px; height:208px">
                    <figure class="image">
                      <img src="images/ukelele.jpg" alt="" class="img-fluid" style="border-radius: 5px;">
                    </figure>
                  </div>
                  </a>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-2 mb-5 mb-lg-0">
                  <a href="#">
                    <div style="width:233px; height:208px">
                    <figure class="image">
                      <img src="images/deskmat1.jpg" alt="" class="img-fluid" style="border-radius: 5px;">
                    </figure>
                  </div>
                  </a>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-2 mb-5 mb-lg-0">
                  <a href="#">
                    <div style="width:233px; height:208px">
                    <figure class="image">
                      <img src="images/worldmap.jpg" alt="" class="img-fluid" style="border-radius: 5px;">
                    </figure>
                  </div>
                  </a>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-2 mb-4 mb-lg-0">
                  <a href="#">
                    <div style="width:233px; height:208px">
                    <figure class="image">
                      <img src="images/steampunk1.jpg" alt="" style="border-radius: 5px; height: 100%; width: 100%; object-fit: cover">
                    </figure>
                  </div>
                  </a>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-2 mb-5 mb-lg-0">
                  <a href="#">
                    <div style="width:233px; height:208px">
                    <figure class="image">
                      <img src="images/rug.jpg" alt="" class="img-fluid" style="border-radius: 5px; max-height: 100%; max-width: 100%;">
                    </figure>
                  </div>
                  </a>
                </div>
              </div> -->

          </div>
      </div>
    </div>

    <!-- Confirm Delete Modal -->
    <div class="modal" id="deleteItemModal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content form-wrapper">
          <div class="close-box" data-dismiss="modal">
            <i class="icon icon-times icon-2x"></i>
          </div>
          <div class="container-fluid">
            <div class="form-group text-center">
              <h4>Confirm Item Deletion </h4>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                  <button id="deleteConfirm" class="btn btn-danger py-3 btn-block">Confirm</button>
              </div>
              <div class="col-md-6">
                  <button id="cancelDeleteItem" class="btn btn-secondary py-3 btn-block">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/footer') %>
  
  </div>

  <%- include('../partials/javascript') %>

  <script>
    function deleteItem(id) {  
      $('#deleteItemModal').modal();

      $('#cancelDeleteItem').click(function(e) {
        $('.close-box').click();
        $('#deleteConfirm').off('click');
      })
      
      $('#deleteConfirm').click(function(e) {
        $.ajax({
        type: "POST",
        url: '/item/delete/'+id,
        data: JSON.stringify({ id: id }),
        contentType: 'application/json; charset=utf-8',
        success: function (data) {
          if (data.status === "Success") {
            window.location = data.redirect;
          }
        },
        error: function (error) {

        }
      });
      })
      
    }
  </script>

    
  </body>
</html>