<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('../partials/stylesheet')%>
    
    <style>
        .sell-image-box {
            min-height: 300px;
            max-height: 310px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding: 20px;
            overflow:hidden;    
            
        }
        .sell-image-box img{
            height:100%;
            width:100%;
            display: block;
            object-fit: cover;
        }
    </style>

  </head>
  <body>
  
  <div class="site-wrap">
    <%- include('../partials/header-shop')%>

    <div class="site-section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-12">
              <div class="border p-4 rounded" role="alert">
                Have an established brand? <a href="/brand">Click here</a> to start listing under your brand name!
              </div>
            </div>
          </div>

          <form action="/sell" method='post' enctype="multipart/form-data">

          <div class="row">
            
            <div class="col-md-12 mb-12 mb-md-12">
              <h2 class="h3 mb-3 text-black">Start Listing</h2>
              <div class="p-3 p-lg-5">
                <div class="form-group">
                    <label for="c_country" class="text-black">Are you selling as an Individual or a Brand Owner <span class="text-danger">*</span></label>
                    <p class="mb-3">The Brand option will allow more options to sell your products such as Brand name, Brand image</p>
                    <select class="form-control">
                        <option value="1">-- Choose One --</option>
                        <option value="2" id="sell_individual_hidden">Individual</option>    
                        <option value="3">Brand</option>      
                    </select>
                </div>


            
                <div class='p-3 p-lg-5 border'>
                  <h3 class="h3 mb-3 text-black">Photos</h3>
                  <div class="row">
                    <div class='col-6 col-xs-6 col-sm-4 col-md-4 col-lg-3 sell-image-box'>
                        <label for='image0' style='cursor:pointer;'>
                            Cover Image<img src='/uploads/default/defaultItemImg.png' class='img-thumbnail' id='image0Preview'>
                        </label>
                        <input class='hidden' type='file' hidden id='image0' name='images'>
                    </div>
                    <div class='col-6 col-xs-6 col-sm-4 col-md-4 col-lg-3 sell-image-box'>
                        <label for='image1' style='cursor:pointer;'>
                            Image 2<img src='/uploads/default/defaultItemImg.png' class='img-thumbnail' id='image1Preview'>
                        </label>
                        <input class='hidden' type='file' hidden id='image1' name='images' disabled>
                    </div>
                    <div class='col-6 col-xs-6 col-sm-4 col-md-4 col-lg-3 sell-image-box'>
                        <label for='image2' style='cursor:pointer;'>
                            Image 3<img src='/uploads/default/defaultItemImg.png' class='img-thumbnail' id='image2Preview' >
                        </label>
                        <input class='hidden' type='file' hidden id='image2' name='images' disabled>
                    </div>
                    <div class='col-6 col-xs-6 col-sm-4 col-md-4 col-lg-3 sell-image-box'>
                        <label for='image3' style='cursor:pointer;'>
                            Image 4<img src='/uploads/default/defaultItemImg.png' class='img-thumbnail' id='image3Preview'>
                        </label>
                        <input class='hidden' type='file' hidden id='image3' name='images' disabled>
                    </div>
                    </div>
                </div>

                <br/>
                <div class='p-3 p-lg-5 border'>
                    <h3 class="h3 mb-3 text-black">Listing Details</h3>
                    <div class="form-group row">
                        <div class="input-group">
                            <div class='col-md-6'>
                                <label for="itemCat">Category</label><br/>
                                <input type="text" class="form-control" id="itemCat" name="itemCat" required>
                            </div>
                        </div>
                    </div>
    
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="title" class="text-black">Title </label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="desc" class="text-black">Description </label>
                            <textarea name="desc" id="desc" cols="30" rows="5" class="form-control" placeholder="Write your item description here..." required></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="price" class="text-black">Price</label>
                            <input type="text" class="form-control" id="price" name="price" required>
                        </div>
                    </div>

                    <br/>

                    <div class="form-group">
                        <button class="btn btn-primary btn-lg py-3 btn-block">Create Listing</button>
                    </div>
                </div>
  
  
                <!-- <div class="form-group">
                  <label for="c_create_account" class="text-black" data-toggle="collapse" href="#create_an_account" role="button" aria-expanded="false" aria-controls="create_an_account"><input type="checkbox" value="1" id="c_create_account"> Create an account?</label>
                  <div class="collapse" id="create_an_account">
                    <div class="py-2">
                      <p class="mb-3">Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
                      <div class="form-group">
                        <label for="c_account_password" class="text-black">Account Password</label>
                        <input type="email" class="form-control" id="c_account_password" name="c_account_password" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
                
  
  
                <div class="form-group">
                    <label for="c_ship_different_address" class="text-black" data-toggle="collapse" href="#ship_different_address" role="button" aria-expanded="false" aria-controls="ship_different_address"><input type="checkbox" value="1" id="c_ship_different_address"> Ship To A Different Address?</label>
                    <div class="collapse" id="ship_different_address">
                        <div class="py-2">
    
                            <div class="form-group">
                                <label for="c_diff_country" class="text-black">Country <span class="text-danger">*</span></label>
                                <select id="c_diff_country" class="form-control">
                                <option value="1">Select a country</option>    
                                <option value="2">bangladesh</option>    
                                <option value="3">Algeria</option>    
                                <option value="4">Afghanistan</option>    
                                <option value="5">Ghana</option>    
                                <option value="6">Albania</option>    
                                <option value="7">Bahrain</option>    
                                <option value="8">Colombia</option>    
                                <option value="9">Dominican Republic</option>    
                                </select>
                            </div>
        
        
                            <div class="form-group row">
                                <div class="col-md-6">
                                <label for="c_diff_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_diff_fname" name="c_diff_fname">
                                </div>
                                <div class="col-md-6">
                                <label for="c_diff_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_diff_lname" name="c_diff_lname">
                                </div>
                            </div>
        
                            <div class="form-group row">
                                <div class="col-md-12">
                                <label for="c_diff_companyname" class="text-black">Company Name </label>
                                <input type="text" class="form-control" id="c_diff_companyname" name="c_diff_companyname">
                                </div>
                            </div>
        
                            <div class="form-group row">
                                <div class="col-md-12">
                                <label for="c_diff_address" class="text-black">Address <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_diff_address" name="c_diff_address" placeholder="Street address">
                                </div>
                            </div>
        
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Apartment, suite, unit etc. (optional)">
                            </div>
        
                            <div class="form-group row">
                                <div class="col-md-6">
                                <label for="c_diff_state_country" class="text-black">State / Country <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_diff_state_country" name="c_diff_state_country">
                                </div>
                                <div class="col-md-6">
                                <label for="c_diff_postal_zip" class="text-black">Posta / Zip <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_diff_postal_zip" name="c_diff_postal_zip">
                                </div>
                            </div>
        
                            <div class="form-group row mb-5">
                                <div class="col-md-6">
                                <label for="c_diff_email_address" class="text-black">Email Address <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_diff_email_address" name="c_diff_email_address">
                                </div>
                                <div class="col-md-6">
                                <label for="c_diff_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_diff_phone" name="c_diff_phone" placeholder="Phone Number">
                                </div>
                            </div>
    
                        </div>
  
                    </div>
                </div>
  
                <div class="form-group">
                  <label for="c_order_notes" class="text-black">Order Notes</label>
                  <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Write your notes here..."></textarea>
                </div>
  
              </div> -->
            </div>
  
            </div>
          </div>
        </form>
        </div>
      </div>

    <%- include('../partials/footer') %>
  
  </div>

  <%- include('../partials/javascript') %>

  <script>
        // Image stuff
        var image0 = $('#image0')
        var image1 = $('#image1')
        var image2 = $('#image2')
        var image3 = $('#image3')
        var ValidImageTypes = ['png','jpg','jpeg']
        image0.on('change',function (){
            var fileType = $(this).val().substr($(this).val().length-3,$(this).val().length)
            if (!ValidImageTypes.includes(fileType) ){
                $(this).val('');
                $("#vidHide").hide();
                $("#descHide").hide();
                $("#prevHide").hide();
                $("#image0Preview").attr("src","/uploads/default/defaultItemImg.jpg");
                $("#prevImg").attr("src","/uploads/default/defaultItemImg.jpg");
                alert('Image type should be png, jpg or jpeg!');
            } else {
                var reader = new FileReader();
                reader.onload = function (e) {
                        // get loaded data and render thumbnail.
                        $("#image0Preview").attr("src",e.target.result);
                        $("#prevImg").attr("src",e.target.result);
                    };
                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            
                $("#vidHide").show();
                $("#descHide").show();
                $("#prevHide").show();
            }
            image1.prop('disabled',false)
            image2.prop('disabled',false)
            image3.prop('disabled',false)
        })
        image1.on('change',function (){
            var fileType = $(this).val().substr($(this).val().length-3,$(this).val().length)
            if (!ValidImageTypes.includes(fileType)){
                $(this).val('');
                $("#image1Preview").attr("src","/uploads/default/defaultItemImg.jpg");
                alert('Image type should be png, jpg or jpeg!');
            } else {
                var reader = new FileReader();
                reader.onload = function (e) {
                        // get loaded data and render thumbnail.
                        $("#image1Preview").attr("src",e.target.result);
                    };
                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            }
        })
        image2.on('change',function (){
            var fileType = $(this).val().substr($(this).val().length-3,$(this).val().length)
            if (!ValidImageTypes.includes(fileType)){
                $(this).val('');
                $("#image2Preview").attr("src","/uploads/default/defaultItemImg.jpg");
                alert('Image type should be png, jpg or jpeg!');
            } else {
                var reader = new FileReader();
                reader.onload = function (e) {
                        // get loaded data and render thumbnail.
                        $("#image2Preview").attr("src",e.target.result);
                    };
                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            }
        })
        image3.on('change',function (){
            var fileType = $(this).val().substr($(this).val().length-3,$(this).val().length)
            if (!ValidImageTypes.includes(fileType)){
                $(this).val('');
                $("#image3Preview").attr("src","/uploads/default/defaultItemImg.jpg");
                alert('Image type should be png, jpg or jpeg!');
            } else {
                // Replace picture on upload
                var reader = new FileReader();
                reader.onload = function (e) {
                        // get loaded data and render thumbnail.
                        $("#image3Preview").attr("src",e.target.result);
                    };
                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            }
        })
    // Category stuff
    var itemCat = $("#itemCat");
    var figuresCat = $('#figuresCat');
    var booksCat = $('#booksCat');
    var videosCat = $('#videosCat');
    var cosplayCat = $('#cosplayCat');             
    itemCat.change(()=>{
        if (itemCat.val()=='1'){
            figuresCat.show();
            $("#figuresCat2").prop('required',true);
        } else {
            figuresCat.hide();
            $("#figuresCat2").prop('required',false);
        }
        if (itemCat.val()=='2'){
            booksCat.show();
            $("#booksCat2").prop('required',true);
        } else {
            booksCat.hide();
            $("#booksCat2").prop('required',false);
        }
        if (itemCat.val()=='3'){
            videosCat.show();
            $("#videosCat2").prop('required',true);
        } else {
            videosCat.hide();
            $("#videosCat2").prop('required',false);
        }
        if (itemCat.val()=='4'){
            cosplayCat.show();
            $("#cosplayCat2").prop('required',true);
        } else {
            cosplayCat.hide();
            $("#cosplayCat2").prop('required',false);
        }
    })  
  </script>

    
  </body>
</html>